{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div style="margin-left: 35%; margin-right: 35%; margin-top: 15%;">

  <h2 class="ui header">
    Faça seu login
  </h2>

  <form class="ui large form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          {{ form.username }}
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          {{ form.password }}
        </div>
      </div>
      <input type="submit" value="Login" class="ui fluid large submit button">
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>
</div>

{% endblock %}