{% extends "base.html" %}

{% block title %} {{company.name}} {% endblock %}

{% block nav-start %}
<div class="item" style="width: 17em;"></div>
{% endblock %}


<!-- Following Menu -->
{% block afternav %}
<div class="ui sidebar inverted vertical menu visible" style="width: 19%;">
  <a class="item" href="{% url 'app:company' company.pk %}" style="background-color: #333;">
    <img class="ui avatar image" src="{{company.image}}" style="width: 50px; height: auto"> <b>{{company.name}}</b>
  </a>
  <a class="item">Perfil</a>
  <a class="item">Histórico</a>
  <a class="item">Configurações</a>
  <a class="item">Ajuda</a>
</div>
{% endblock %}

{% block content %}

<div style="margin-right: 25%; margin-left:15%; margin-top: 5%;">

  <h2 class="ui header">
    Apoie o Fundo
  </h2>

  <div class="ui equal width grid">
    <div class="column" style="font-size: 1.2em; margin: auto; text-align: center;">
      Incentive projetos na universidade doando a nosso fundo. Ao doar, sua empresa concorre a uma série de benefícios.
    </div>
    <div class="column">
      <div class="ui statistic">
        <div class="label">
          NOSSO PATRIMÔNIO
        </div>
        <div class="value">
          R$ 350 milhões
        </div>
      </div>
    </div>
    <div class="column" style="font-size: 1.2em; margin: auto;">
      <div class="ui list">
        <div class="item">
          <i class="right triangle icon"></i>
          Seja parceiro da USP
        </div>
        <div class="item">
          <i class="right triangle icon"></i>
          Promova a inovação tecnológica
        </div>
        <div class="item">
          <i class="right triangle icon"></i>
          Lei do bem - receba uma série de incentivos fiscais
        </div>
      </div>
    </div>
    <br>

    <div class="row centered">
      <div class="column six wide">
        <div class="ui left action input" style="width: 100%; font-size: 1.2em">
          <a class="ui teal labeled icon button" style="font-size: 1.2em; padding: .2em">
            <i class="dollar sign icon"></i>
            Contribua com
          </a>
          <input type="text" value="R$ 10.000,00">
        </div>
      </div>
    </div>
  </div>


  <h2 class="ui dividing header" style="margin-top: 5em;">
    Encontre seu projeto
  </h2>

  <form class="ui large form" method="post" action="{% url 'app:company' company.pk %}">
    {% csrf_token %}
    <div class="three fields">
      <div class="field">
        <label> {{ form.area.label }} </label>
        {{ form.area }}
      </div>
      <div class="field">
        <label> {{ form.tema.label }} </label>
        {{ form.tema }}
      </div>
      <div class="field">
        <label> {{ form.subtema.label }} </label>
        {{ form.subtema }}
      </div>
    </div>
    <input type="submit" class="eleven wide ui fluid large submit button" value="Buscar">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {% if no_matches %}
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Nenhum projeto encontrado
    </div>
  </div>
  {% endif %}


  {% if show_projects %}

  <div style="display: flex; align-content: flex-start; align-items: flex-start; flex-flow: row wrap;">
    {% for p in projects %}
    <div class="ui card" style="flex: 0 0 29%; margin: 1em;">
      <div class="image">
        <img src="{{p.image}}">
      </div>
      <div class="content">
        <div class="header">{{p.title}}</div>
        <div class="meta">
          <span class="category">{{p.area}} | {{p.tema}} | {{p.subtema}}</span>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
      <div class="extra content">
        <p>{{p.description}}</p>
        <b>Precisa de:</b>
        <ul>
          {% for c in p.currencies %}
          <li>R$ {{c.amount}}</li>
          {%endfor%}
          {% for e in p.equipments %}
          <li> {{e.name}} </li>
          {%endfor%}
        </ul>
        <div class="right floated author">
          <a href="{% url 'app:user' p.user.pk %}">
            <img class="ui avatar image" src="{{p.user.image}}"> {{p.user.name}}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}