{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block scripts %}{% endblock %}
{% block nav %}{% endblock %}


{% block precontent %}
<div class="ui inverted vertical masthead center aligned segment" style="min-height: 0;">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item" href="/">Home</a>
      <a class="item">Saiba Mais</a>
      <a class="item" href="{% url 'app:projects' %}">Veja um Projeto</a>
      <a class="item" href="{% url 'app:user' 1 %}">Submeta um Projeto</a>
      <a class="item" href="{% url 'app:company' 1 %}">Contribua</a>
      <a class="item">Denúncias</a>
      <div class="right item">
        <a class="ui inverted button" href="{% url 'login' %}">Login</a>
        <a class="ui inverted button">Signup</a>
      </div>
    </div>
  </div>

  <div class="ui text container">
    <img src="{% static 'app/logo-dark.png' %}" style="width: 50%; padding: 8% 0">
  </div>

</div>

{% endblock %}

{% block content %}
<div class="ui vertical stripe segment" style="margin-right: 30%; margin-left: 30%; padding-top: 3%">
  <div class="ui equal width stackable internally celled grid">
    <div class="aligned row">
      <div class="column">
        <h3 style="text-align: center;">Para faculdades</h3>
        <p>Submeta projetos de pesquisa/extensão/ensino que podem ser financiadas por empresas. </p>
        <p> Mantenha a transparência quanto ao desenvolvimento de suas atividades. </p>
        <div class="ui list">
          <div class="item" style="font-size: 1.2em">
            <i class="right triangle icon"></i>
            Financiamento
          </div>
          <div class="item" style="font-size: 1.2em">
            <i class="right triangle icon"></i>
            Fortalecimento do tripé ensino/extensão/pesquisa
          </div>
          <div class="item" style="font-size: 1.2em">
            <i class="right triangle icon"></i>
            Renda independente de impostos e fora de orçamentos
          </div>
          <div style="display: flex; align-items: center; justify-content: center; margin-top: 1em;">
            <a class="ui primary button" href="{% url 'app:user' 1 %}">Envie seu projeto</a>
          </div>
        </div>
      </div>
      <div class="column">
        <h3 style="text-align: center;">Para empresas</h3>
        <p> Mostre que você apoia a pesquisa e o ensino na USP! </p>
        <p> Veja como você pode apoiar nosso fundo, ou ajudar nossos projetos diretamente. </p>
        <div class="ui list">
          <div class="item" style="font-size: 1.2em">
            <i class="right triangle icon"></i>
            Selo parceiro da USP
          </div>
          <div class="item" style="font-size: 1.2em">
            <i class="right triangle icon"></i>
            Contato direto com nossos alunos e professores
          </div>
          <div class="item" style="font-size: 1.2em">
            <i class="right triangle icon"></i>
            Inovação tecnológica
          </div>
          <div class="item" style="font-size: 1.2em">
            <i class="right triangle icon"></i>
            Lei do bem
          </div>
          <div style="display: flex; align-items: center; justify-content: center; margin-top: 1em;">
            <div class="ui vertical buttons">
              <a class="ui primary button" href="{% url 'app:company' 1 %}">Procure um projeto</a>
              <a class="ui primary button" href="{% url 'app:company' 1 %}">Ajude o fundo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui grid container" style="width: 80%; margin-top: -4em;">
  <div class="sixteen wide column" style="text-align: center; margin-bottom: 3em">
    <h1 class="ui header">Nossos Maiores Parceiros</h1>
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/pagseguro.png' %}">
    <img style="position: absolute; top: -.5em; right: -.5em; width: 4em; height: auto;" src="{% static 'app/badges/M.png' %}">
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/bradesco.svg' %}">
    <img style="position: absolute; top: -.5em; right: 4em; width: 4em; height: auto;" src="{% static 'app/badges/100.png' %}">
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/vtex.svg' %}">
    <img style="position: absolute; top: -.5em; right: 2em; width: 4em; height: auto;" src="{% static 'app/badges/M.png' %}">
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/tfg.svg' %}">
    <img style="position: absolute; top: -.5em; right: 2em; width: 4em; height: auto;" src="{% static 'app/badges/10.png' %}">
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/taqtile.png' %}">
    <img style="position: absolute; top: 0em; right: 1em; width: 4em; height: auto;" src="{% static 'app/badges/100.png' %}">
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/intelie.png' %}">
    <img style="position: absolute; top: 0em; right: -1em; width: 4em; height: auto;" src="{% static 'app/badges/10.png' %}">
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/hash.png' %}">
    <img style="position: absolute; top: 0em; right: 0em; width: 4em; height: auto;" src="{% static 'app/badges/100.png' %}">
  </div>
  <div class="four wide column" style="padding: 2em;">
    <img style="width: 100%;" src="{% static 'app/companies/udemy.png' %}">
    <img style="position: absolute; top: -1em; right: 2em; width: 4em; height: auto;" src="{% static 'app/badges/M.png' %}">
  </div>
</div>
{% endblock %}