{% extends "base.html" %}

{% block title %} Projetos {% endblock %}

{% block content %}

<div style="margin-right: 25%; margin-left:10%; margin-top: 5%;">

  <h2 class="ui dividing header" style="margin-top: 3em">
    Acompanhe os projetos
  </h2>

  <div style="display: flex; align-content: flex-start; align-items: flex-start; flex-flow: row wrap;">
    {% for p in projects %}
    <div class="ui card" style="flex: 0 0 29%; margin: 1em;">
      <div class="image">
        <img src="{{p.image}}">
      </div>
      <div class="content">
        <div class="header">{{p.title}}</div>
        <div class="meta">
          <span class="category">{{p.area}} | {{p.tema}} | {{p.subtema}}</span>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
      <div class="extra content">
        <p>{{p.description}}</p>
        <b>Precisa de:</b>
        <ul>
          {% for c in p.currencies %}
          <li>R$ {{c.amount}}</li>
          {%endfor%}
          {% for e in p.equipments %}
          <li> {{e.name}} </li>
          {%endfor%}
        </ul>
        <div class="right floated author">
          <a href="{% url 'app:user' p.user.pk %}">
            <img class="ui avatar image" src="{{p.user.image}}"> {{p.user.name}}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}