{% extends "base.html" %}

{% block title %} {{user.name}} {% endblock %}

{% block nav-start %}
<div class="item" style="width: 17.5em;"></div>
{% endblock %}

{% block afternav %}
<div class="ui sidebar inverted vertical menu visible" style="width: 20%;">
  <a class="item" href="{% url 'app:user' user.pk %}" style="background-color: #333;">
    <img class="ui avatar image" src="{{user.image}}" style="width: 50px; height: auto"> <b>{{user.name}}</b>
  </a>
  <a class="item">Perfil</a>
  <a class="item">Histórico</a>
  <a class="item">Configurações</a>
  <a class="item">Ajuda</a>
</div>
{% endblock %}

{% block content %}

<div style="margin-right: 25%; margin-left:10%; margin-top: 5%;">

  <h2 class="ui header">
    Envie seu projeto
  </h2>

  <form class="ui large form" method="post" action="{% url 'app:user' user.pk %}}">
    {% csrf_token %}
    <div class="ui stacked">
      <div class="field">
        <label> {{ form.title.label }} </label>
        <div class="ui input">
          {{ form.title }}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label> {{ form.area.label }} </label>
          {{ form.area }}
        </div>
        <div class="field">
          <label> {{ form.tema.label }} </label>
          {{ form.tema }}
        </div>
        <div class="field">
          <label> {{ form.subtema.label }} </label>
          {{ form.subtema }}
        </div>
      </div>
      <div class="fields">
        <div class="three wide field">
          <label> {{ form.currency.label }} </label>
          {{ form.currency }}
        </div>
        <div class="five wide field">
          <label> {{ form.equipment.label }} </label>
          {{ form.equipment }}
        </div>
        <div class="eight wide field">
          <label> {{ form.description.label }} </label>
          {{ form.description }}
        </div>
      </div>
      <div class="fields">
        <div class="five wide field">
          <label> {{ form.image.label }} </label>
          {{ form.image }}
        </div>
        <input type="submit" class="eleven wide ui fluid large submit button" value="Enviar">
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>

  {% if submitted %}
  {% if success %}
  <div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
      Projeto enviado
    </div>
  </div>
  {%else%}
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Dados inválidos
    </div>
  </div>
  {% endif %}
  {% endif %}


  <h2 class="ui dividing header" style="margin-top: 3em">
    Acompanhe seus outros projetos
  </h2>

  <div style="display: flex; align-content: flex-start; align-items: flex-start; flex-flow: row wrap;">
    {% for p in projects %}
    <div class="ui card" style="flex: 0 0 29%; margin: 1em;">
      <div class="image">
        <img src="{{p.image}}">
      </div>
      <div class="content">
        <div class="header">{{p.title}}</div>
        <div class="meta">
          <span class="category">{{p.area}} | {{p.tema}} | {{p.subtema}}</span>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
      <div class="extra content">
        <p>{{p.description}}</p>
        <b>Precisa de:</b>
        <ul>
          {% for c in p.currencies %}
          <li>R$ {{c.amount}}</li>
          {%endfor%}
          {% for e in p.equipments %}
          <li> {{e.name}} </li>
          {%endfor%}
        </ul>
        <div class="right floated author">
          <a href="{% url 'app:user' p.user.pk %}">
            <img class="ui avatar image" src="{{p.user.image}}"> {{p.user.name}}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}